/* CSS files add styling rules to your content */


body {
  font-family: helvetica, arial, comic-sans, sans-serif;
  margin: 2em;
  background: #FFFDE4;
}

h1 {
  font-style: italic;
  font-style: bold;
  color: #000000;
}

p2 {
  font-family: arial, helvetica, sans-serif;
  font-style: bold;
  color: #000000;
}

a {
  color: #0000EE;
}
a:visited {
  color: #8A2BE2
}
/* navigation styling */

{
  box-sizing: border-box;
}

.column-1 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column-2 {
  float: center;
  width: 33.33%;
  padding: 5px;
}

.column-3 {
  float: center;
  width: 33.33%;
  padding: 5px;
}

/* begin recs <div> style */ 
.recs {
  height: 100%;
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

/* embed */ 
.divqus { 
  max-width: 800px;
  margin: auto;
}

/* center text page content */ 

.content {
  margin: auto;
  max-width: 800px;
  text-align: center;
}
/* image will not center without margin: auto */ 
img {
  max-width: 60%;
  margin: auto;
  max-width: 800px;
}

.imgcenter {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1081px) {
  img {
    width: 100%;
  }
}
/* comment count talk bubble */ 
.talk-bubble {
   width: 160px;
      height: 40px;
      background: black;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
}
.disqus-comment-count {
  color: red;
  font-style: bold;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  margin: auto;
}
.no-change a, a:visited {
  color: inherit;
}
/* basic ads */
.leaderboard {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.med_rec {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.statue_of_liberty {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
